*{
    padding: 0px;
    margin: 0px;
}

#header {
    background-color: #5cacc4;
}

#headerh1 {
    display: flex;
    justify-content: center;
}

.section1 {
    display: flex;
    background-color: #db1414;
}